body
{
	text-align: center;
	padding-top: 200px;
	/*background-color:  #DAF7A6 ;*/
	/*background-color:#F9F9F9;*/
	/*background-image: url('image/image-bg.jpg');
	/*background: url(image/image-bg.jpg)/*no-repeat ;background-position: center;background-size: 300px;*/
}
div#background
{
	/*background-image: url('image/image-bg.jpg');*/
	background: url('image/image-bg.jpg'); /*no-repeat ; background-size: 100%; */
}
h2
{
	padding-top: 28px;
	font-style: bold;
	color: #ff5733;
	text-decoration: underline;
}
div.gif
{
	padding-top: 50px;
}
div.mot
{
	font-size: 25px;
	font-family: 'Alegreya Sans', sans-serif;
}
div.clock
{
	position: absolute;
	left: 400px;
}